extends ../../../views/layout

block content
  h1
    | List Cord Blood Units

  table#samples
    thead
      tr
        th(data-dynatable-column="id")    ID
        th(data-dynatable-column="hlaA1") HLA A1
        th(data-dynatable-column="hlaA2") HLA A2
        th(data-dynatable-column="hlaB1") HLA B1
        th(data-dynatable-column="hlaB2") HLA B2
        th(data-dynatable-column="drb1") DRB 1
        th(data-dynatable-column="drb2") DRB 2

    tbody
      each unit in units
        tr
          td
            = unit.id
          td
            = unit.hlaA1
          td
            = unit.hlaA2
          td
            = unit.hlaB1
          td
            = unit.hlaB2
          td
            = unit.drb1
          td
            = unit.drb2
