extends ../../../views/layout

block content
  h1
    | List Cord Blood Units

  table#samples
    thead
      tr
        th HLA A1
        th HLA A2
        th HLA B1
        th HLA B2
        th DRB 1
        th DRB 2
        th HLA C1
        th HLA C2
        th DQB 1
        th DQB 2

    tbody
      each unit in units
        tr
          td
            = unit.hlaA1
          td
            = unit.hlaA2
          td
            = unit.hlaB1
          td
            = unit.hlaB2
          td
            = unit.drb1
          td
            = unit.drb2
          td
            = unit.hlaC1
          td
            = unit.hlaC2
          td
            = unit.dqb1
          td
            = unit.dqb2
