extends ../../../views/layout

block content
  h1
    | List Cord Blood Units

  div.search
    input(type="search", name="hlaA1", id="search-hlaA1", placeholder="hla A1")
    input(type="search", name="hlaA2", id="search-hlaA2", placeholder="hla A2")
    input(type="search", name="hlaB1", id="search-hlaB1", placeholder="hla B1")
    input(type="search", name="hlaB2", id="search-hlaB2", placeholder="hla B2")
    input(type="search", name="drb1", id="search-drb1", placeholder="drb 1")
    input(type="search", name="drb2", id="search-drb2", placeholder="drb 2")
    input(type="submit", value="Go", id="search")

  table#samples
    thead
      tr
        th(data-dynatable-column="id")    ID
        th(data-dynatable-column="hlaA1") HLA A1
        th(data-dynatable-column="hlaA2") HLA A2
        th(data-dynatable-column="hlaB1") HLA B1
        th(data-dynatable-column="hlaB2") HLA B2
        th(data-dynatable-column="hlaC1") HLA C1
        th(data-dynatable-column="hlaC2") HLA C2
        th(data-dynatable-column="drb1") DRB 1
        th(data-dynatable-column="drb2") DRB 2
        th(data-dynatable-column="dqb2") DQB 1
        th(data-dynatable-column="dqb2") DQB 2

    tbody
      each unit in units
        tr
          td
            = unit.id
          td
            = unit.hlaA1
          td
            = unit.hlaA2
          td
            = unit.hlaB1
          td
            = unit.hlaB2
          td
            = unit.drb1
          td
            = unit.drb2
