h2 Login

form(method="post", action="/sessions/new")
  ul
    li
      label(for="username") Username (email)
      input(type="text", name="username", id="username")
    li
      label(for="password") Password
      input(type="password", name="password", id="password")
    li
      input(type="submit", value="Login")